//! **************************************************************************
// Written by: Map K.39 on Tue May 29 18:53:21 2012
//! **************************************************************************

SCHEMATIC START;
COMP "iCLK_50" LOCATE = SITE "C9" LEVEL 1;
COMP "iSW3" LOCATE = SITE "N17" LEVEL 1;
COMP "oLED<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "oLED<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "oLED<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "oLED<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "oLED<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "oLED<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "oLED<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "oLED<7>" LOCATE = SITE "F9" LEVEL 1;
COMP "ROT_A" LOCATE = SITE "K18" LEVEL 1;
COMP "ROT_B" LOCATE = SITE "G18" LEVEL 1;
COMP "PS2_DATA" LOCATE = SITE "G13" LEVEL 1;
COMP "oHS" LOCATE = SITE "F15" LEVEL 1;
COMP "oVS" LOCATE = SITE "F14" LEVEL 1;
COMP "PS2_CLK" LOCATE = SITE "G14" LEVEL 1;
COMP "oVGA_B" LOCATE = SITE "G15" LEVEL 1;
COMP "oVGA_G" LOCATE = SITE "H15" LEVEL 1;
COMP "oVGA_R" LOCATE = SITE "H14" LEVEL 1;
NET "iCLK_50_BUFGP/IBUFG" BEL "iCLK_50_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

